*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}

a{
    color: inherit;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

img[src$=".jpg"]{
    border-radius: 4px;
}